.opposites-title{
    font-family: 'Lobster', Georgia, Times, serif;
    font-size: 150px;
    /*line-height: 180px;*/
    color: rgb(229,57,53);
    text-decoration: none;
    align-items: center;
    text-shadow: 2px 2px #000000;
}



.opposites-title img {
    height: 1.2em;
}

.opposites-subtitle{
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
    font-size: 48px;
}

.opposites-description {
    margin-top: 16px;
    font-family: 'Lobster', Georgia, Times, serif;
    font-size: 24px;
    line-height: 1.5em;
}

.opposites-sub-title{
    font-family: 'Lobster', Georgia, Times, serif;
    color: rgb(229,57,53);
    font-size: 48px;
    font-weight: 600;
}

.opposites-lyric-title{
    font-family: 'Lobster', Georgia, Times, serif;
    color: rgb(229,57,53);
    font-size: 32px;
    text-shadow: 1px 1px #333;
}

.demo-card-wide{
    width: 100%;
    margin-bottom: 32px;
}

.demo-card-wide > .mdl-card__title {
    position: relative;
    color: #EE1C25;
    text-shadow:
    -2px -2px 0 #fff,
    2px -2px 0 #fff,
    -2px 2px 0 #fff,
    2px 2px 0 #fff;
    background: url('./images/kolaz.jpg') center / cover;
}

.likes-counter{
    position: absolute;
    bottom: -28px;
    right: 0;
    /*border: solid 1px #000;*/
}
.vote-btn{
    color: white;

}

.vote-btn-background{
    float: right;

    background: -webkit-linear-gradient(left,rgba(255,255,255,0) 50%, rgba(255,255,255,1) 51%); /*Safari 5.1-6*/
    background: -o-linear-gradient(right,rgba(255,255,255,0) 50%, rgba(255,255,255,1) 51%); /*Opera 11.1-12*/
    background: -moz-linear-gradient(right,rgba(255,255,255,0) 50%,rgba(255,255,255,1)51%); /*Fx 3.6-15*/
    background: linear-gradient(to right, rgba(255,255,255,0) 50%, rgba(255,255,255,1) 51%); /*Standard*/

}

.counter-desc{
    padding: 0 16px;
    float: right;
    font-size: 36px;
    background-color: #fff;
    font-weight: 700;
    display: inline-block;
}

.author-underline{
    border-bottom: 2px solid #ef9a9a;
    box-shadow: 0 -3px 0 #ef9a9a inset;
    color: inherit;
    text-decoration: none;
    transition: all 0.25s ease;
    font-weight: 900;
}

.author-underline:hover{
    text-decoration: none;
    border-bottom: 2px solid #b71c1c;
    border-top: 2px solid #b71c1c;
    box-shadow: 0 -3px 0 #b71c1c inset;
    background-color: #b71c1c ;
    transition: all 0.25s ease;
    color: white;
}

.layout-transparent .mdl-layout__header,
.layout-transparent .mdl-layout__drawer-button,
.mdl-navigation__link{
    /* This background is dark, so we set text to white. Use 87% black instead if
       your background is light. */
    color: black;
}

.footer-btn {
    color: #ffffff;
}

.opposites-footer{
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
    font-size: 18px;
}

.cabin-font{
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
}
.mdl-navigation__link{
    font-size: 16px;
    font-weight: 600;
}



/**
    Shop
*/

.cover-image-shop{
    background: rgb(229,57,53);
    background: url('./images/kolaz.jpg') center / cover;
    text-align: center;
}

.shop-title a{
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
    font-size: 150px;
    /*line-height: 180px;*/
    color: rgb(255, 64, 129);
    text-decoration: none;
    text-align: center;
    text-shadow:
    -5px -3px 0 #fff,
    5px -3px 0 #fff,
    -5px 3px 0 #fff,
    5px 3px 0 #fff;
}

.shop-title{
    text-decoration: none;

    margin-top: 0;
    margin-bottom: 0;
}

.mdl-card {
    margin-bottom: 32px;
}
.mdl-card__supporting-text h3{
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
}

.shop-card img {
    width: 100%;
}

.shop-button {
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
}

.mdl-card--border .price{
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
}

.woocommerce div.product {
    margin-bottom: 16px;
}

.attachment-shop_catalog .wp-post-image{

}

.shop-sidebar{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    height: 100%;
    max-height: 100%;

    box-sizing: border-box;
    border-right: 1px solid rgb(224,224,224);
    background: rgb(250,250,250);

    align-items: stretch;
    padding: 16px;

    font-family: 'Cabin', Helvetica, Arial, sans-serif;
}

.shop-sidebar .mdl-navigation__link {
    display: block;
    flex-shrink: 0;
    padding: 16px;
    margin: 0;
    border-radius: 1px;
    transition: all 0.25s ease;
}

.shop-sidebar .mdl-navigation__link:hover {
    background: rgb(189,189,189);
    transition: all 0.25s ease;
    color: #FF4081;
}

.mdl-card__supporting-text a{
    transition: all 0.25s ease;
}

.mdl-card__supporting-text a:hover{
    color: #009688;
    transition: all 0.25s ease;
}

.panel-title {
    text-decoration: underline;
    font-size: large;
}

.shop-cart-desc {
    font-size: medium;
}

.single-product-title{
    text-shadow: none;
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
}

.summary.entry-summary p{
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
}

.tabs {
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
}

.image-icon{
    height: 1.5em !important;
}
.image-icon-charity{
    height: 2.5em !important;
    background-color: #53ffdb;
    border-radius: 2.5em;
}

.icon-charity a:before{
    content: url('./images/coins_icon.png');
    float: left;
    margin-right: 5%;
}

.post-charity,
.post-charity p,
.post-charity a{
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.8em;
}

.post-charity p,
.post-charity a {
    font-size: large;
}

.give-form-title{
    font-family: Verdana, Helvetica, Arial, sans-serif;
}

@media screen and (min-width: 992px) {
    .mdl-layout__drawer,
    .mdl-layout__drawer-button {
        display: none;
    }
}

@media only screen and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 600px){
    .opposites-title {
        font-family: 'Lobster', Georgia, Times, serif;
        font-size: 90px;
    }

}